.consultation-tg {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: vw(30px, $mobile);
    @media (min-width: $desk) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      grid-gap: vw(50px, $desktop);
    }
    @media (min-width: $desk_large) {
      grid-gap: vw(50px, $desktop_large);
    }
  }
  &__img {
    max-width: vw(150px, $mobile);
    min-width: vw(150px, $mobile);
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @media (min-width: $desk) {
      max-width: vw(200px, $desktop);
      min-width: vw(200px, $desktop);
    }
    @media (min-width: $desk_large) {
      max-width: vw(200px, $desktop_large);
      min-width: vw(200px, $desktop_large);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__wrapper {
    @media (min-width: $desk) {
      max-width: vw(658px, $desktop);
      width: 100%;
    }
    @media (min-width: $desk_large) {
      max-width: vw(658px, $desktop_large);
    }
  }
}