.result {
  .section-subtitle {
    color: var(--brand-accent-yellow-color);
  }

  &__title {
    text-align: center;
    text-transform: uppercase;

    span {
      color: var(--brand-accent-yellow-color);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: vw(15px, $mobile);

    @media (min-width: $desk) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: vw(20px, $desktop);
    }
    @media (min-width: $desk_large) {
      grid-gap: vw(20px, $desktop_large);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: vw(15px, $mobile);
    padding: vw(20px, $mobile);
    border: 1px solid var(--brand-accent-yellow-opacity-two-color);
    background-color: var(--gray-15-color);
    box-sizing: border-box;

    @media (min-width: $desk) {
      grid-gap: vw(15px, $desktop);
      padding: vw(25px, $desktop);
    }
    @media (min-width: $desk_large) {
      grid-gap: vw(15px, $desktop_large);
      padding: vw(25px, $desktop_large);
    }
  }

  &__item-top {
    display: flex;
    align-items: flex-start;
    grid-gap: vw(12px, $mobile);

    @media (min-width: $desk) {
      grid-gap: vw(12px, $desktop);
    }
    @media (min-width: $desk_large) {
      grid-gap: vw(12px, $desktop_large);
    }
  }

  &__item-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: vw(40px, $mobile);
    height: vw(40px, $mobile);
    border: 1px solid var(--brand-accent-yellow-opacity-two-color);
    border-radius: vw(8px, $mobile);
    background-color: var(--gray-10-color);

    svg,
    img {
      display: block;
      width: vw(20px, $mobile);
      height: vw(20px, $mobile);
      object-fit: contain;
    }

    svg [fill]:not([fill="none"]),
    svg path:not([fill="none"]) {
      fill: var(--brand-accent-yellow-color);
    }

    svg [stroke]:not([stroke="none"]),
    svg path:not([stroke="none"]) {
      stroke: var(--brand-accent-yellow-color);
    }

    @media (min-width: $desk) {
      width: vw(44px, $desktop);
      height: vw(44px, $desktop);
      border-radius: vw(8px, $desktop);

      svg,
      img {
        width: vw(22px, $desktop);
        height: vw(22px, $desktop);
      }
    }
    @media (min-width: $desk_large) {
      width: vw(44px, $desktop_large);
      height: vw(44px, $desktop_large);
      border-radius: vw(8px, $desktop_large);

      svg,
      img {
        width: vw(22px, $desktop_large);
        height: vw(22px, $desktop_large);
      }
    }
  }

  &__item-title {
    color: var(--white-color);
    font-weight: 600;
  }

  &__item-text {
    color: var(--gray-70-color);
  }
}
