@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-element {
  animation: fadeInUp 0.5s ease forwards;
}

.section {
  // transform: translateY(15px);
  // opacity: 0;
  // transition: all .7s linear;
  // &.anim {
  //   transform: translateY(0);
  //   opacity: 1;
  // }
}

.fade-in-container {
  animation: fadeInUp 0.5s ease forwards;
}