
.video {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.05);
    z-index: 2;
  }
  iframe,
  &__iframe,
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
  }
  iframe,
  &__iframe {
    opacity: 0;
    pointer-events: none;
  }
  &.active {
    .video__img {
      opacity: 0;
      pointer-events: none;
    }
    iframe,
    .video__iframe {
      opacity: 1;
      pointer-events: all;
    }
    .video__btn {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: vw(50px, $mobile);
    min-width: vw(50px, $mobile);
    padding: vw(15px, $mobile);
    height: auto;
    aspect-ratio: 1/1;
    z-index: 3;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-accent-yellow-color);
    border-radius: 50%;
    overflow: hidden;
    @media (min-width: $desk) {
      max-width: vw(50px, $desktop);
      min-width: vw(50px, $desktop);
      padding: vw(15px, $desktop);
    }
    @media (min-width: $desk_large) {
      max-width: vw(50px, $desktop_large);
      min-width: vw(50px, $desktop_large);
      padding: vw(15px, $desktop_large);
    }
    svg {
      fill: black;
    }
  }
  &__embed {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &[hidden] {
      display: none !important;
    }
  }
}