.maps {
  overflow: hidden;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    grid-gap: vw(20px, $mobile);
    @media (min-width: $desk) {
      grid-gap: vw(20px, $desktop);
    }
    @media (min-width: $desk_large) {
      grid-gap: vw(20px, $desktop_large);
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: vw(15px, $mobile);
    margin-bottom: 0;
    @media (min-width: $desk) {
      flex-direction: row;
      justify-content: space-between;
      grid-gap: vw(15px, $desktop);
    }
    @media (min-width: $desk_large) {
      grid-gap: vw(15px, $desktop_large);
    }
  }
  &__title {
    text-align: center;
    padding: vw(5px, $mobile);
    @media (min-width: $desk) {
      text-align: left;
      padding: vw(35px, $desktop);
      color: var(--brand-accent-yellow-color);
    }
    @media (min-width: $desk_large) {
      padding: vw(35px, $desktop_large);
    }
  }
  &__tabs {
    @media (min-width: $desk) {
      width: auto;
      max-width: vw(700px, $desktop);
    }
    @media (min-width: $desk_large) {
      max-width: vw(700px, $desktop_large);
    }
  }
  &__label {
    
    @media (min-width: $desk) {
      min-width: vw(249px, $desktop);
    }
    @media (min-width: $desk_large) {
      min-width: vw(249px, $desktop_large);
    }
  }

  $items-count: 15; 
  @for $i from 1 through $items-count {
    &:has( .maps__label:nth-child(#{$i}) > input:checked) .maps__item:nth-child(#{$i}) {
      display: flex;
    }
  }

  &__items {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  &__item {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: vw(434px, $mobile);
    border-radius: vw(30px, $mobile);
    background-color: var(--gray-12-color);
    overflow: hidden;
    @media (min-width: $desk) {
      height: vw(434px, $desktop);
      border-radius: vw(30px, $desktop);
    }
    @media (min-width: $desk_large) {
      height: vw(434px, $desktop_large);
      border-radius: vw(30px, $desktop_large);
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}