html {
  scroll-behavior: smooth;
}

body {
  animation: loadPage 0.3s ease forwards;
  background: var(--gray-10-color);
  font-family: $Montserrat;
  font-size: vw(15px, $mobile);
  font-weight: 400;
  line-height: 1.333;
  color: var(--gray-70-color);
  @media (min-width: $desk) {
    font-size: vw(15px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(15px, $desktop_large);
  }
}

body {
  &::-webkit-scrollbar {
    // display: none;-
  }

  @media (min-width: $desk) {
    &::-webkit-scrollbar {
      // display: block;
      width: vw(3px, $mobile);
      @media (min-width: $desk) {
        width: vw(8px, $desktop);
      }
      @media (min-width: $desk_large) {
        width: vw(8px, $desktop_large);
      }
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background: var(--brand-accent-yellow-opacity-two-color);
      border-radius: 2px;

      &:hover {
        // background: var(--white-color);
      }
    }
  }
}

.lock {
  overflow: hidden !important;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  padding-top: vw(100px, $mobile);
  @media (min-width: $desk) {
    padding-top: vw(120px, $desktop);
  }
  @media (min-width: $desk_large) {
    padding-top: vw(120px, $desktop_large);
  }
}

.container {
  max-width: vw(387px, $mobile);
  margin: 0 auto;
  padding: 0 vw(16px, $mobile);
  width: 100%;

  @media (min-width: $desk) {
    max-width: vw(1200px, $desktop);
    padding: 0 vw(10px, $desktop);
  }
  @media (min-width: $desk_large) {
    max-width: vw(1200px, $desktop_large);
    padding: 0 vw(10px, $desktop_large);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section {
  overflow: hidden;
  padding: vw(40px, $mobile) 0;
  @media (min-width: $desk) {
    padding: vw(50px, $desktop) 0;
  }
  @media (min-width: $desk_large) {
    padding: vw(50px, $desktop_large) 0;
  }
}

.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: vw(32px, $mobile);
  margin-bottom: vw(50px, $mobile);
  @media (min-width: $desk) {
    grid-gap: vw(32px, $desktop);
    margin-bottom: vw(50px, $desktop);
  }
  @media (min-width: $desk_large) {
    grid-gap: vw(32px, $desktop_large);
    margin-bottom: vw(50px, $desktop_large);
  }
}

.section-subtitle {
  text-align: center;
  font-family: $Montserrat;
  font-size: vw(20px, $mobile);
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  @media (min-width: $desk) {
    font-size: vw(24px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(24px, $desktop_large);
  }
}
.section-text {
  margin-top: vw(-4px, $mobile);
  @media (min-width: $desk) {
    margin-top: vw(-4px, $desktop);
  }
  @media (min-width: $desk_large) {
    margin-top: vw(-4px, $desktop_large);
  }
}

.h1 {
  font-family: $Montserrat;
  font-size: vw(20px, $mobile);
  font-weight: 600;
  line-height: 1.25;
  color: var(--white-color);
  letter-spacing: 0%;
  @media (min-width: $desk) {
    font-size: vw(40px, $desktop);
    font-weight: 800;
    line-height: 1.24;
    text-transform: uppercase;
    letter-spacing: -1%;
  }
  @media (min-width: $desk_large) {
    font-size: vw(40px, $desktop_large);
    font-weight: 800;
    line-height: 1.24;
    text-transform: uppercase;
    letter-spacing: -1%;
  }
  span {
    color: var(--brand-accent-yellow-color);
  }
  h1 {
    display: inline;
    font: inherit;
  }
}
.h2 {
  font-family: $Montserrat;
  font-size: vw(20px, $mobile);
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -1%;
  color: var(--white-color);
  @media (min-width: $desk) {
    font-size: vw(30px, $desktop);
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: -3%;
    text-transform: uppercase;
  }
  @media (min-width: $desk_large) {
    font-size: vw(30px, $desktop_large);
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: -3%;
    text-transform: uppercase;
  }
  span {
    color: var(--brand-accent-yellow-color);
  }
}
.h3 {
  font-family: $Montserrat;
  font-size: vw(24px, $mobile);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1%;
  color: var(--white-color);
  @media (min-width: $desk) {
    font-size: vw(32px, $desktop);
    text-transform: uppercase;
  }
  @media (min-width: $desk_large) {
    font-size: vw(32px, $desktop_large);
    text-transform: uppercase;
  }
  span {
    color: var(--brand-accent-yellow-color);
  }
}
.h4 {
  font-family: $Montserrat;
  font-size: vw(20px, $mobile);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1%;
  color: var(--white-color);
  @media (min-width: $desk) {
    font-size: vw(24px, $desktop);
    text-transform: uppercase;
  }
  @media (min-width: $desk_large) {
    font-size: vw(24px, $desktop_large);
    text-transform: uppercase;
  }
  span {
    color: var(--brand-accent-yellow-color);
  }
}

.swiper-wrapper {
  display: flex;
}

.hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.default-btn {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: vw(40px, $mobile);
  grid-gap: vw(10px, $mobile);
  border-radius: vw(10px, $mobile);
  font-family: $Montserrat;
  font-size: vw(13px, $mobile);
  font-weight: 600;
  line-height: 1.1538;
  letter-spacing: -1%;
  text-transform: uppercase;
  color: var(--black-color);
  background-color: var(--brand-accent-yellow-color);
  @media (min-width: $desk) {
    height: vw(40px, $desktop);
    grid-gap: vw(10px, $desktop);
    border-radius: vw(10px, $desktop);
    font-size: vw(13px, $desktop);
  }
  @media (min-width: $desk_large) {
    height: vw(40px, $desktop_large);
    grid-gap: vw(10px, $desktop_large);
    border-radius: vw(10px, $desktop_large);
    font-size: vw(13px, $desktop_large);
  }

  @media (any-hover: hover) {
    transition: all .3s linear;
    &:hover {
      background-color: var(--white-color);
    }
  }

  &--huge {
    height: vw(65px, $mobile);
    font-size: vw(16px, $mobile);
    @media (min-width: $desk) {
      height: vw(65px, $desktop);
      font-size: vw(16px, $desktop);
    }
    @media (min-width: $desk_large) {
      height: vw(65px, $desktop_large);
      font-size: vw(16px, $desktop_large);
    }
  }

  &--red {
    color: var(--white-color);
    background-color: var(--brand-accent-red-m-color);
    @media (any-hover: hover) {
      transition: all .3s linear;
      &:hover {
        background-color: var(--brand-accent-yellow-color);
      }
    }
  }
  &--white {
    background-color: var(--white-color);
    @media (any-hover: hover) {
      transition: all .3s linear;
      &:hover {
        background-color: var(--brand-accent-yellow-color);
      }
    }
  }
  &.default-btn--tg {
    color: var(--white-color);
    background-color: var(--telegram-color);
    svg {
      fill: var(--white-color);
    }
    @media (any-hover: hover) {
      transition: all .3s linear;
      &:hover {
        background-color: var(--telegram-2-color);
      }
    }
  }

  &--transparent {
    color: var(--white-color);
    background-color: transparent;
    @media (any-hover: hover) {
      transition: all .3s linear;
      &:hover {
        background-color: var(--brand-accent-yellow-color);
      }
    }
  }

  &--whatsapp {
    color: var(--white-color);
    background-color: var(--whatsapp-color);
    background-color: var(--color-btn);
    @media (any-hover: hover) {
      transition: all .3s linear;
      &:hover {
        background-color: var(--whatsapp-hover-color);
        background-color: var(--color-hover-btn);
      }
    }
    svg {
      fill: var(--white-color);
    }
  }
}


@keyframes loadPage {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}


.fancybox__slide {
  height: 100vh;
}

.fancybox__content img {
  max-width: 100%;
  max-height: 100%;
}



.lead-20-25 {
  font-family: $Montserrat;
  font-size: vw(20px, $mobile);
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -3%;
  @media (min-width: $desk) {
    font-size: vw(20px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(20px, $desktop_large);
  }
}
.line-caps-bold-15-15 {
  font-family: $Montserrat;
  font-size: vw(15px, $mobile);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3%;
  @media (min-width: $desk) {
    font-size: vw(15px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(15px, $desktop_large);
  }
}
.line-caps-bold-16-15 {
  font-family: $Montserrat;
  font-size: vw(16px, $mobile);
  font-weight: 700;
  line-height: 0.937;
  letter-spacing: -3%;
  @media (min-width: $desk) {
    font-size: vw(16px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(16px, $desktop_large);
  }
}
.line-caps-bold-13-15 {
  font-family: $Montserrat;
  font-size: vw(13px, $mobile);
  font-weight: 600;
  line-height: 1.154;
  letter-spacing: -1%;
  @media (min-width: $desk) {
    font-size: vw(13px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(13px, $desktop_large);
  }
}
.line-13-15 {
  font-family: $Montserrat;
  font-size: vw(13px, $mobile);
  font-weight: 400;
  line-height: 1.154;
  letter-spacing: -1%;
  @media (min-width: $desk) {
    font-size: vw(13px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(13px, $desktop_large);
  }
}
.paragraph-15-25 {
  font-family: $Montserrat;
  font-size: vw(15px, $mobile);
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -1%;
  @media (min-width: $desk) {
    font-size: vw(15px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(15px, $desktop_large);
  }
}
.paragraph-15-15 {
  font-family: $Montserrat;
  font-size: vw(15px, $mobile);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1%;
  @media (min-width: $desk) {
    font-size: vw(15px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(15px, $desktop_large);
  }
}
.paragraph-13-20 {
  font-family: $Montserrat;
  font-size: vw(13px, $mobile);
  font-weight: 400;
  line-height: 1.538;
  letter-spacing: -1%;
  @media (min-width: $desk) {
    font-size: vw(13px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(13px, $desktop_large);
  }
}
.footnote-12-10 {
  font-family: $Montserrat;
  font-size: vw(12px, $mobile);
  font-weight: 400;
  line-height: 0.833;
  letter-spacing: 0%;
  @media (min-width: $desk) {
    font-size: vw(12px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(12px, $desktop_large);
  }
}
.caption-8-10 {
  font-family: $Montserrat;
  font-size: vw(8px, $mobile);
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 4%;
  @media (min-width: $desk) {
    font-size: vw(8px, $desktop);
  }
  @media (min-width: $desk_large) {
    font-size: vw(8px, $desktop_large);
  }
}